{% extends 'page-layout.twig' %}
{% block title %}
    {{site.name}} - 404
{% endblock %}
{% block content %}
    <div id="content"  class="bsbb">
        {% block breadcrumb %}
            {{parent()}} >> {{__('not found', 'bibcnrs')}}
        {% endblock %}
        <br class="clear">
        <div id="center">
            <div id="pagenorm">
                <h1>{{__('Page not found', 'bibcnrs')}}</h1>
                <br/>
                <p>
                    {{__('Go back to', 'bibcnrs')}}
                    <a href="{{site.url}}">
                        {{__('home', 'bibcnrs')}}
                    </a>
                </p>
            </div>
            <br class="clear" />
        </div>
    </div>
{% endblock %}
