{% extends 'page-layout.twig' %}
{% block header %}
    <header id="header" class="bsbb">
        <div class="clear"></div>
        <div id="hierarchie">
            <ul id="cnrs">
                <li class ="cnrsli"><a href="http://www.cnrs.fr" target="_blank">CNRS</a></li>
                <li class="cnrsli">&nbsp;|&nbsp;</li>
                <li class ="cnrsli"><a href="http://www.cnrs.fr/dist/" target="_blank">DIST</a></li>
                {% if not visit %}
                    <li class="cnrsli">&nbsp;|&nbsp;</li>
                    <li class ="cnrsli"><a href="http://www.cnrs.fr/{{userCategory.description}}" target="_blank">{{userCategory.description|upper}}</a></li>
                {% endif %}

            </ul>
        </div>
        <div class="logo">
            <a href="{{site.url}}" title="accueil">
                <img src="{{theme.uri}}/images/logocnrs.png" alt="CNRS d&eacute;passer les fronti&eacute;res" class="bsbb">
            </a>
            {% if userCategory %}
                <h1 class="font-{{userCategory.slug}}">
                    {{userCategory.name}}
                </h1>
                {% if visit  %}
                    <div id="soustitre">
                        en visite dans {{currentCategory.name}}
                    </div>
                    <div id="bouton" class="{{userCategory.slug}}">
                        <a href="/category/{{userCategory.slug}}">Retour &agrave;<br/> mon domaine</a>
                    </div>
                {% endif %}
            {% else %}
                <h1 class="font-{{currentCategory.slug}}">
                    {{currentCategory.name}}
                </h1>
            {% endif %}
        </div>
        <div id="separateur"></div>
    </header>
{% endblock %}
{% block content %}
    <div id="content" class="bsbb">
        {% block breadcrumb %}
            {{parent()}} >> <a href="{{url}}/category/{{currentCategory.slug}}">{{currentCategory.name}}</a>
        {% endblock %}
        <br class="clear"/>
        <div id="center">
            <div id="pagenorm">
                <div style="position:relative; width:inherit; height:inherit;">
                    {{ ebsco_widget|shortcodes }}
                </div>
                <h1 class="font-{{currentCategory.slug}}">Actualit&eacute;s "{{currentCategory.name}}"</h1>
                <ul>
                    {% for post in posts %}
                        <li><span>{{post.display_date}} - </span> <span><a href="{{url}}/{{post.slug}}">{{post.title}}</a></span></li>
                    {% endfor %}
                </ul>
            </div>
            {% block sidebar %}
                {% if (visit) %}
                    {% include 'sidebar-right-visit.twig' %}
                {% else %}
                    {% include 'sidebar-right.twig' %}
                {% endif %}
            {% endblock %}
        </div>
       </div>
{% endblock %}
