{% extends 'page-layout.twig' %}
{% block content %}
    <div id="content" class="bsbb">
    {% block breadcrumb %}
        <span class="bread">{{parent()}} >> <a href="{{url}}/category/{{currentCategory.slug}}">{{currentCategory.name}}</a></span>
    {% endblock %}
        <br class="clear"/>
        <div id="center">
            {{ ebsco_widget|shortcodes }}
            <div id="pagenorm">
                <h1 class="font-{{currentCategory.description}}">{{__('News', 'bibcnrs')}} "{{currentCategory.name}}"</h1>
                <ul>
                    {% for post in posts %}
                        <li><span>{{post.display_date}} - </span> <span><a href="{{url}}/{{post.slug}}">{{post.title}}</a></span></li>
                    {% endfor %}
                </ul>
            </div>
            {% block sidebar %}
                    {% include 'sidebar-right.twig' %}
            {% endblock %}
        </div>
       </div>
{% endblock %}
