{% extends 'page-layout.twig' %}
{% block content %}
    <div id="content" class="bsbb">
    {% block breadcrumb %}
        <span class="bread">
            {{parent()}} >> <a href="{{url}}/category/{{currentCategory.slug}}">
                {{currentCategory.name}}
            </a>
        </span>
        {% for warning in alerte %}
            <div class="alerte">{{warning.post_content}}</div>
        {% endfor %}
    {% endblock %}
        <br class="clear"/>
        <div id="center">
            {{ ebsco_widget|shortcodes }}
            <div id="pagenorm">
                <h1 class="font-{{currentCategory.description}} wph1">{{__('News', 'bibcnrs')}} "{{currentCategory.name}}"</h1>
                <ul>
                    {% for post in posts %}
                        <li>
                            <span class="dateDisplay">
                                {{post.post_date|date("d")}} {{__(post.post_date|date("F"), 'bibcnrs')}} {{post.post_date|date("Y")}} - 
                            </span>
                            <span>
                                <a href="{{url}}/{{post.slug}}?category={{currentCategory.slug}}">
                                    {{post.title}}
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% block sidebar %}
                    {% include 'sidebar-right.twig' %}
            {% endblock %}
        </div>
       </div>
{% endblock %}
