{% extends 'page-layout.twig' %}
{% block content %}
    <div id="content" class="bsbb">
    {% block breadcrumb %}
        <span class="bread">{{parent()}} >> {{__('Databases', 'bibcnrs')}}</span>
    {% endblock %}
        <br class="clear"/>
        <div id="bdddomains">
            <form>
                <select name="URL"onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
                    <option value ="nul">{{__('See databases for ...', 'bibcnrs')}} </option>
                    <option value="{{site.url}}/bases-de-donnees">{{__('All databases', 'bibcnrs')}}</option>
                    {% for item in terms %}
                        <option value ="{{site.url}}/{{item.taxonomy}}/{{item.slug}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="white bold">{{__('All databases', 'bibcnrs')}}</div>
        </div>
        <div id="center">
            <div id="pagenormbdd">
                <ul class="bases">
                    {% for post in origin %}
                        <a href="{{post.db_url}}" target="_blank" title="{{post.post_content}}" class="bddlink">
                            <li class="bdd">
                                <img src="{{post.thumbnail.src}}"/>
                                <span class="bddtitle">{{post.post_title}}</span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
       </div>
{% endblock %}
