{% extends 'page-layout.twig' %}
{% block content %}
    <div id="content" class="bsbb">
    {% block breadcrumb %}
        <span class="bread">{{parent()}} >> {{__('Databases', 'bibcnrs')}}</span>
    {% endblock %}
        <br class="clear"/>
            {{ ebsco_widget|shortcodes }}
        <div id="bdddomains">
            <div class="bddchoice">{{__('All databases', 'bibcnrs')}}</div>
            <div class="bddmessage">{{__('Please choose your discipline to access your databases', 'bibcnrs')}}</div>
            <form>
                <select name="URL"onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
                    <option value ="nul">{{__('See databases for ...', 'bibcnrs')}} </option>
                    <option value="{{site.url}}/{{__('data-bases', 'bibcnrs')}}">{{__('All databases', 'bibcnrs')}}</option>
                    {% for item in terms %}
                        <option value ="{{site.url}}/{{item.taxonomy}}/{{item.slug}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div id="pagenormbdd">
            {{include('databases-display.twig')}}
        </div>
    </div>
{% endblock %}
