{% extends 'page-layout.twig' %}
{% block title %}
    {{site.name}} - {{currentCategory_name}}
{% endblock %}
{% block js %}
    {{parent()}}
    <script src="{{theme.uri}}/js/discovery.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div id="content" class="bsbb">
        <div id="newsContent">       
            <div id="newsMenu">
                <h2 class="menuTitle ">{{__('domains', 'bibcnrs')}}</h2>
                {% for item in disc %}
                    <label for="menuNews-{{item.slug.cat_ID}}">
                        <input id="menuNews-{{item.slug.cat_ID}}" class="menuItem" name="choice" type="radio">
                        <span>{{item.slug.name}}
                            <svg class="itemCircle" viewBox="0 0 12 12" width="12" height="12">
                                <circle fill="{{item.color}}" cx="6" cy="6" r="6"></circle>
                            </svg>
                        </span>
                    </label>
                {% endfor %}
            </div>
            <div id="newsDetail">
                {% for item in disc %}
                    <h2 class="domainTitle font-{{item.slug.description}}" id="domain-{{item.slug.cat_ID}}">{{item.slug.name}}</h2>
                    {% for post in item.posts %}
                        <div id="postDetail-{{post.ID}}" class="postDetail">
                            <div class="discBoxTitle">
                                {{post.title}}
                            </div>
                            <div id="close-{{post.ID}}" class="detailClose">X</div>
                            <div class="discPostContent">
                                {{post.content}}                                
                            </div>
                            <div class="discBoxDate font-{{post.category.description}}">
                                {% if site.language|slice(0,2) == 'fr' %}
                                    {{__('testdate', 'bibcnrs')}} : {{post.start_date|date("d.m.y")}} > {{post.end_date|date("d.m.y")}}
                                {% else %}
                                    {{__('testdate', 'bibcnrs')}}: {{post.start_date|date("m.d.y")}} > {{post.end_date|date("m.d.y")}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %} 
                    <div class="domainNews flexrow" id="detail-{{item.slug.cat_ID}}">
                        {% for post in item.posts %}
                        <div class="discBox flexColumn" id="box-{{post.ID}}" data-type="type-{{item.slug.cat_ID}}">
                            <div class="discBoxTitle">
                                {{post.title}}
                            </div>
                            <div class="discBoxDate font-{{post.category.description}}">
                                {% if site.language|slice(0,2) == 'fr' %}
                                    {{__('testdate', 'bibcnrs')}} : {{post.start_date|date("d.m.y")}} > {{post.end_date|date("d.m.y")}}
                                {% else %}
                                    {{__('testdate', 'bibcnrs')}}: {{post.start_date|date("m.d.y")}} > {{post.end_date|date("m.d.y")}}
                                {% endif %}
                                <span class="discDetail" id="post-{{post.ID}}"> + {{__('details', 'bibcnrs')}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div id="newsPages"></div>
            </div>  
        </div>
   </div>
{% endblock %}

