{# discoverysubcat.twig #}
{% macro macro(title, slug, theme, commun, lang) %}
    <div class="h2disc">
        <div class="discdomain">{{title|upper}}</div>
        <hr class="titleline font-{{slug.description}}"></hr>
        {% set thematic = '' %}
        {% for post in theme %}
            {% if post.periode %}
                {% set dateFin = post.periode|split(' - ', 2)|last %}
                {% set dateCalc = dateFin|split('/') %}
                {% if lang == 'fr' %}
                    {% set dateEng = [dateCalc.2, dateCalc.1, dateCalc.0]|join("/") %}
                {% else %}
                    {% set dateEng = [dateCalc.2, dateCalc.0, dateCalc.1]|join("/") %}
                {% endif %}
            {% else %}
                {% set dateEng = '2030/12/31' %}
            {% endif %}
            {% if now|date('Y/m/d') <= dateEng %}
                {% set thematic = 'yes' %}
                <div class="disctitle">
                    {% if post.disc_url %}
                    <a href="http://{{slug.description}}.bib.cnrs.fr/login?url={{post.disc_url}}" target="_blank" class="font-{{slug.description}}">
                        {{post.title}}
                    </a>
                    {% else %}
                        <span class="font-{{slug.description}}">{{post.title}}</span>
                    {% endif %}
                    {{__('Test date:', 'bibcnrs')}} <span class="testdate">{{post.periode}}</span>
                </div>
                <div class="flipflop" onclick="flipflop('{{slug.description}}-theme-{{loop.index}}');">{{__('More', 'bibcnrs')}}<span class="arrow"> → </span></div>
                <div id="{{slug.description}}-theme-{{loop.index}}" class="repdisc">{{post.content}}</div>
             {% endif %}
        {% endfor %}
            {% if thematic == 'yes' %}
                  <p class="discoverAlso italic">{{__('To discover also:', 'bibcnrs')}}</p>
            {% endif %}
        {% for post in commun %}
            {% if post.periode %}
                {% set dateFin = post.periode|split(' - ', 2)|last %}
                {% set dateCalc = dateFin|split('/') %}
                {% if lang == 'fr' %}
                    {% set dateEng = [dateCalc.2, dateCalc.1, dateCalc.0]|join("/") %}
                {% else %}
                    {% set dateEng = [dateCalc.2, dateCalc.0, dateCalc.1]|join("/") %}
                {% endif %}
            {% else %}
                {% set dateEng = '2030/12/31' %}
            {% endif %}
            {% if now|date('Y/m/d') <= dateEng %}
                <div class="disctitle">
                    {% if post.disc_url %}
                    <a href="http://{{slug.description}}.bib.cnrs.fr/login?url={{post.disc_url}}" target="_blank" class="font-{{slug.description}}">
                        {{post.title}}
                    </a>
                    {% else %}
                        <span class="font-{{slug.description}}">{{post.title}}</span>
                    {% endif %}
                    {{__('Test date:', 'bibcnrs')}} <span class="testdate">{{post.periode}}</span>
                </div>
                <div class="flipflop" onclick="flipflop('{{slug.description}}-commun-{{loop.index}}');">{{__('More', 'bibcnrs')}}<span class="arrow"> → </span></div>
                <div id="{{slug.description}}-commun-{{loop.index}}" class="repdisc">{{post.content}}</div>
             {% endif %}        
        {% endfor %}
    </div>
{% endmacro %}
