{% extends 'page-layout.twig' %}
{% block title %}
    {{site.name}} - {{currentCategory.name}}
{% endblock %}
{% block js %}
    {{parent()}}
    <script src="{{theme.uri}}/js/discovery.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div id="content" class="bsbb">
        {% block breadcrumb %}
            <span class="bread">
                <a href="/">{{__('Home', 'bibcnrs')}}</a> >> {{currentCategory.name}}
            </span>
        {% endblock %}       
        <div id="center">
            <div id="pagefaq">
                <h1>{{currentCategory.name}}</h1>
                {% for post in posts %}
                    <div class="bibDiscTitle" id="bibDiscTitle-{{post.id}}" onclick="flipflop({{post.id}})">
                        {{post.title}}
                    </div>
                    <div class="bibDiscContent"id="bibDiscContent-{{post.id}}">
                        {{post.content}}
                    </div>
                {% endfor %}
            </div>
       </div>
   </div>
{% endblock %}
