{# faqsubcat.twig #}
{% macro macro(slug, posts) %}
    <div class="h2faq" id="subfaq-{{slug.cat_ID}}">{{slug.name}}
        {% for post in posts %}
                <div class="faqtitle" id="faq-{{post.id}}">{{post.post_title}}</div>
                <div id="rep-{{post.id}}" class="repfaq">
                	{{post.content}}
                </div>
        {% endfor %}
    </div>
{% endmacro %}
