{# homenews.twig #}
{% macro macro(title, slug, posts, theme) %}
    <div class="boite">
        <div id="titrerubactus">
            <h2 id="titreactus">{{title|upper}}</h2>
        </div>
        {% for post in posts %}
            <div class="itemactus">
                <a href="{{post.get_path}}" target=_blanck>{{post.post_title}}</a>
                <span class="resume">{{post.post_content|excerpt(20)}}</span>
            </div>
        {% endfor %}
        <br class="actussepar"/>
        <div id="archivesactus"><a href="/category/{{slug}}">{{__('See all', 'bibcnrs')}}</a></div>
    </div>
{% endmacro %}
