{# homenews.twig #}
{% macro macro(title, slug, posts, theme) %}
    <div class="boite">
        <div id="titrerubactus">
            <h2 id="titreactus">{{title|upper}}</h2>
            <img src="{{theme}}/images/decor-bloc-home.png" class="decohome"/>
        </div>
        {% for post in posts %}
            <div class="itemactus">
                <a href="{{post.get_path}}/?category={{slug}}">{{post.post_title}}</a>
            </div>
        {% endfor %}
        <hr class="actussepar"/>
        <div id="archivesactus"><a href="/category/{{slug}}">{{__('See all', 'bibcnrs')}}</a></div>
    </div>
{% endmacro %}
