{% extends 'page-layout.twig' %}
{% block breadcrumb %}
    {{parent()}} >> <a href="{{url}}/category/{{currentCategory.slug}}">{{currentCategory.name}}</a>
{% endblock %}
{% block content %}
    <div id="content" class="bsbb">
        <div id="center">
            <div id="pagenorm">
                {% for post in posts %}
                <h1 class="font-visit">{{post.title}}</h1>
                    {{post.post_content}}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
