{% extends 'page-layout.twig' %}
{% block title %}
    {% for post in posts %}
        {{site.name}} - {{post.title}}
    {% endfor %}
{% endblock %}
{% block content %}
    <div id="content" class="bsbb">
    {% for post in posts %}
        {% block breadcrumb %}
            <span class="bread">
                <a href="/">{{__('Home', 'bibcnrs')}}</a> >> {{post.title}}
            </span>
        {% endblock %}
        <br class="clear"/>
        <div id="center">
            <div id="pagenorm">
                <h1 class="font-gene">{{post.title}}</h1>
                    {{post.content}}
                </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
