<html>
    <head>
        <title>{% block title '' %}</title>
        <meta charset="utf-8"/>
        <meta name="description" content="site des portails CNRS">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="robots" content="{{ index_index == 'true' ? 'index follow' : 'noindex nofollow' }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block css %}
            <link rel="stylesheet" media="all" href="{{theme.uri}}/style.css?v=1" type="text/css">
        {% endblock %}
        {% block js %}
            <script src="{{theme.uri}}/js/flipflop.js" type="text/javascript"></script>
        {% endblock %}
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <![endif]-->

        <!--[if IE 9]>
        <script src="/js/html5-ie.js" type="text/javascript"></script>
        <![endif]-->
        {{ wp_head }}
    </head>
    <body>
        <div class="bib-container" >
            {% block header %}
            <header id="header" class="bsbb">
                <div class="clear"></div>
                <div>{{ bibcnrs_header|shortcodes }}</div>
                <div class="language">
                    {{language_switcher}}
                </div>
            </header>
            {% endblock %}
            <div class="main">
                <div class="navigations">
                    {% block navigation %}
                    <nav role="navigation" class="principal">
                        <div class=principalbas>
                            <ul class="menu">
                                {% for item in principal.get_items %}
                                <li class="nav-main-item  {{item.classes | join(' ')}}">
                                    <a class="nav-main-link" href="{{item.get_link}}">
                                        {{item.title}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                    {% endblock %}
                </div>
            {% block content %}
                    {% block breadcrumb %}
                        <span class="bread"><a href="{{ http_host }}/{{__('Home', 'bibcnrs')}}">{{__('Home', 'bibcnrs')}}</a></span>
                    {% endblock %}
            {% endblock %}
            </div>
            {% block footer %}
                <div class="clear"></div>
                <footer>

                    <div class="menu-bas-fr-container">
                        <a href="https://www.cnrs.fr" target="_blank" ><img src="{{theme.uri}}/images/cnrs.png" alt="logo cnrs" class="logocnrs"/></a>
                        <ul class="menu-bas-fr">
                            {% if currentCategory.description %}
                                <li class="nav-main-item font-{{currentCategory.description}}"><a href="http://www.cnrs.fr/{{currentCategory.description}}" class ="font-{{currentCategory.description}}" target="_blank">{{currentCategory.description|upper}}</a></li>
                                <li class="cnrsli">&nbsp;|&nbsp;</li>
                                <li class="nav-main-item"><a href="/{{__('mailing-list', 'bibcnrs')}}-{{currentCategory.slug}}">{{__('Mailing list', 'bibcnrs')}} {{currentCategory.name}}</a></li>
                                <li class="cnrsli">&nbsp;|&nbsp;</li>
                            {% endif %}
                            {% for item in secondaire.get_items %}
                                <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                                <li class="footerslash">&nbsp;|&nbsp;</li>
                            {% endfor %}
                            </ul>
                    </div>
                    <a href="https://twitter.com/bibcnrs" target="_blank" ><img src="{{theme.uri}}/images/twitter.png" alt="logo twitter" class="logotwitter"/></a>
                </footer>
            {% endblock %}
        </div>
        {{wp_footer}}
    </body>
</html>
