<sidebar>
    <div class="box-container">
        <h2>Actualit&eacute;s {{title}}</h2>
        {% for post in postsdomain %}
        <p><a href="{{url}}/{{post.slug}}">{{post.title}}</a></p>
        {% endfor %}
    </div>
    <div class="box-container">
        <h2>Autres Domaines</h2>
        {% for post in alltheposts %}
        <p>{{post.display_date}} - <a href="{{url}}/{{post.slug}}">{{post.title}}</a></p>
        <p class="font-{{post.category.slug}}">({{post.category}})</p>
        {% endfor %}
    </div>
</sidebar>
