<sidebar>
    <div class="box-container">
        <h2>Actualit&eacute;s {{title}}</h2>
        {% for post in categoryPosts %}
        <p><a href="{{url}}/{{post.slug}}">{{post.title}}</a></p>
        {% endfor %}
    </div>
    <div class="box-container">
        <h2>Actualit&eacute;s {{currentCategory.name}} (fil RSS)</h2>
        {% if currentCategory.slug == 'physique' %}
            {% filter shortcodes %}
                [rss feed="http://www.cnrs.fr/inp/spip.php?page=backend" num="5" excerpt="false"]
            {% endfilter %}
        {% elseif currentCategory.slug == 'information' %}
            {% filter shortcodes %}
                [rss feed="http://www.cnrs.fr/ins2i/spip.php?page=rss" num="5" excerpt="false"]
            {% endfilter %}
        {% else %}
            {% filter shortcodes %}
                [rss feed="http://www.cnrs.fr/fr/une/actus/alaune.xml" num="5" excerpt="false"]
            {% endfilter %}
        {% endif %}
    </div>
{#    <div class="box-container">
        <h2>Autres Domaines</h2>
        {% for post in allOtherPosts %}
        <p>{{post.display_date}} - <a href="{{url}}/{{post.slug}}">{{post.title}}</a></p>
        <p class="font-{{post.category.slug}}">({{post.category}})</p>
        {% endfor %}
    </div>
#}
    {% if pref %}
    <div class="box-container">
        <h2>A voir</h2>
        {% for post in pref %}
            <h3 class="titlepref">{{post.post_title}}</h3>
            {{post.post_content}}
        {% endfor %}
    </div>
    {% endif %}
</sidebar>
