<sidebar>
    {% if page == 'single' %}
    <div class="box-container">
        <h2 class="font-{{currentCategory.description}}">{{__('News', 'bibcnrs')}} {{currentCategory.name}}</h2>
        {% for post in categoryPosts %}
        <p>
            {{post.display_date|date("d")}} {{__(post.display_date|date("F"), 'bibcnrs')}} {{post.display_date|date("Y")}} -
            <a href="{{url}}/{{post.slug}}?category={{currentCategory.slug}}">{{post.title}}</a>
        </p>
        {% endfor %}
    </div>
    {% endif %}
    {% if currentCategory.slug == __('physics', 'bibcnrs') %}
    <div class="box-container">
        <h2>{{__('News', 'bibcnrs')}} (fil RSS {{currentCategory.name}})</h2>
        {% filter shortcodes %}
            [rss feed="http://www.cnrs.fr/inp/spip.php?page=backend" excerpt="false" target="_blank"]
        {% endfilter %}
    </div>
    {% elseif currentCategory.slug == __('information-en', 'bibcnrs') %}
    <div class="box-container">
        <h2>{{__('News', 'bibcnrs')}} (fil RSS {{currentCategory.name}})</h2>
        {% filter shortcodes %}
            [rss feed="http://www.cnrs.fr/ins2i/spip.php?page=rss" excerpt="false" target="_blank"]
        {% endfilter %}
    </div>
    {% elseif currentCategory.slug == __('biology', 'bibcnrs') %}
    <div class="box-container">
        <h2>{{__('News', 'bibcnrs')}} (RSS - CNRS)</h2>
        {% filter shortcodes %}
            [rss feed="http://www.cnrs.fr/fr/une/actus/alaune.xml" excerpt="false" target="_blank"]
        {% endfilter %}
    </div>
    {% elseif currentCategory.slug == __('earth', 'bibcnrs') %}
    <div class="box-container">
        <h2>{{__('News', 'bibcnrs')}} (RSS - INSU)</h2>
        {% filter shortcodes %}
            [rss feed="http://www.insu.cnrs.fr/feed" excerpt="false" target="_blank"]
        {% endfilter %}
    </div>
    {% endif %}
    {% if pref %}
    <div class="box-container">
        <h2>{{__('Resources focus -', 'bibcnrs')}} {{currentCategory.name}}</h2>
        {% for post in pref %}
            <h3 class="titlepref">{{post.post_title}}</h3>
            {{post.post_content}}
        {% endfor %}
    </div>
    {% endif %}
    <div class="box-container">
        <h2>{{__('Other domains news', 'bibcnrs')}}</h2>
        {% for post in allOtherPosts %}
            <p>
                {{post.display_date|date("d")}} {{__(post.display_date|date("F"), 'bibcnrs')}} {{post.display_date|date("Y")}} -
                {{post.title}}
            </p>
            <p class="italic font-cnrs">
                (
                {% for categories in post.terms('category')%}
                    <a href="{{url}}/{{post.slug}}/?category={{categories.slug}}">
                        <span class="font-cnrs"> - {{categories.name}}</span>
                    </a>
                {% endfor %}
                - )
            </p>
        {% endfor %}
    </div>
</sidebar>
