{% extends 'category.twig' %}
{% set abbrv = post.slug|split('-') %}
{% set institut = abbrv[3] %}
{% block content %}
<div id="content" class="bsbb">
{% block breadcrumb %}
    <span class="bread">{{parent()}} {{post.title}}</span>
{% endblock %}
    <br class="clear"/>
    <div id="center">
        {{ ebsco_widget|shortcodes }}
        <div id="pagefaq">
            <div style="position:relative; width:inherit; height:inherit;">
            </div>
            <div id="titrerubnorm2">
                <h1 class="font-{{institut}} wph1">{{post.title}}</h1>
            </div>
            {{post.content}}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    <div class="clear"></div>
    <footer>
        <div class="menu-bas-fr-container">
            <a href="https://www.cnrs.fr" target="_blank" >
                <img src="{{theme.uri}}/images/cnrs.png" alt="logo cnrs" class="logocnrs"/>
            </a>
            <ul class="menu-bas-fr">
                    <li class="nav-main-item font-{{institut}}">
                        <a href="http://www.cnrs.fr/{{institut}}" class ="font-{{institut}}" target="_blank">
                            {{institut|upper}}
                        </a>
                    </li>
                    <li class="cnrsli">&nbsp;|&nbsp;</li>
                {% for item in secondaire.get_items %}
                    <li class="nav-main-item {{item.classes | join(' ')}}">
                        <a class="nav-main-link" href="{{item.get_link}}">
                            {{item.title}}
                        </a>
                    </li>
                    <li class="footerslash">&nbsp;|&nbsp;</li>
                {% endfor %}
                </ul>
        </div>
        <a href="https://twitter.com/bibcnrs" target="_blank" ><img src="{{theme.uri}}/images/twitter.png" alt="logo twitter" class="logotwitter"/></a>
    </footer>
{% endblock %}
