{% extends 'category.twig' %}
{% block content %}
<div id="content" class="bsbb">
    {% block breadcrumb %}
    {{parent()}} >> {{post.title}}
    {% endblock %}
    <br class="clear"/>
    <div id="center">
        <div id="pagenorm">
            <div id="retour">
                <a href="{{url}}/bases-de-donnees" class="font-visite">
                    Voir toutes les bases de donn&eacute;es
                </a>
            </div>
            <div id="titrerubnorm2">
                <img src="{{post.thumbnail.src}}" >
                <h1 class="font-visite">{{post.post_title}}</h1>
            </div>
            <p id="contentrubnorm2">{{post.post_content}}</p>
            <div id="db_url"><a href="{{post.db_url}}">URL de la base de donn&eacute;es</a></div>
        </div>
    </div>
</div>
{% endblock %}
