{% extends 'category.twig' %}
{% block content %}
<div id="content" class="bsbb">
    {% block breadcrumb %}
    {{parent()}} >> {{post.title}}
    {% endblock %}
    <br class="clear"/>
    <div id="center">
        <div id="pagenorm">
            <div id="titrerubnorm2">
                <h1 class="font-{{currentCategory.slug}}">{{post.title}}</h1>
            </div>
            <div id="retour">
                <a href="{{url}}/category/{{currentCategory.slug}}" class="font-{{currentCategory.slug}}">
                    Voir toutes les actualit&eacute;s de {{currentCategory.name}}
                </a>
            </div>
            {{post.content}}
        </div>
        {% block sidebar %}
            {% if visit %}
                {% include 'sidebar-right-visit.twig' %}
            {% else %}
                {% include 'sidebar-right.twig' %}
            {% endif %}
        {% endblock %}
    </div>
</div>
{% endblock %}
