{% extends 'category.twig' %}
{% block content %}
<div id="content" class="bsbb">
{% block breadcrumb %}
    <span class="bread">{{parent()}} >> {{post.title}}</span>
{% endblock %}
    <br class="clear"/>
    <div id="center">
        {{ ebsco_widget|shortcodes }}
        <div id="pagenorm">
            <div style="position:relative; width:inherit; height:inherit;">
            </div>
            <div id="titrerubnorm2">
                <h1 class="font-{{currentCategory.description}}">{{post.title}}</h1>
            </div>
            <div id="retour">
                <a href="{{url}}/category/{{currentCategory.slug}}" class="font-{{currentCategory.description}}">
                    {{__('See all news', 'bibcnrs')}} "{{currentCategory.name}}"
                </a>
            </div>
            {{post.content}}
        </div>
        {% block sidebar %}
            {% include 'sidebar-right.twig' %}
        {% endblock %}
    </div>
</div>
{% endblock %}
