{% extends 'category.twig' %}
{% block title %}
    {{site.name}} - {{single.title}}
{% endblock %}
{% block content %}
<div id="content" class="bsbb">
        {% block breadcrumb %}
            <span class="bread">
                <a href="/">{{__('Home', 'bibcnrs')}}</a> >>
                <a href="{{site.url}}/category/{{parentCat.slug}}">{{parentCat.name}}</a> >> 
                {{single.title}}
            </span>
        {% endblock %}       
    <br class="clear"/>
    <div id="center">
        <div id="pagenorm">
            {% for post in posts %}
                <h1 class="wph1">{{post.title}}</h1>
                {{post.content}}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
