{% extends 'page-layout.twig' %}
{% block breadcrumb %}
    {{parent()}} >> Bases de donn&eacute;es {{domain.name}}
{% endblock %}
{% block content %}
    <div id="content" class="bsbb">
        <br class="clear"/>
        <div id="bdddomains">
            <form>
                <select name="URL"onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
                    <option value ="nul">Voir les bases en ... </option>
                    <option value="{{site.url}}/bases-de-donnees">Toutes les bases</option>
                    {% for item in terms %}
                    <option value ="{{site.url}}/databases/{{item.slug}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="font-{{domain.description}}">Bases {{domain.name}}</div>
        </div>
        <div id="center">
            <div id="pagenormbdd">
                <ul class="bases">
                    {% for post in origin %}
                        <a href="{{post.db_url}}" target="_blank" title ="{{post.post_content}}" class="bddlink">
                            <li class="bdd">
                                <img src="{{post.thumbnail.src}}"/>
                                <span class="bddtitle">{{post.post_title}}</span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
       </div>
{% endblock %}
