{% extends 'page-layout.twig' %}
{% block content %}
    <div id="content" class="bsbb">
    {% block breadcrumb %}
        <span class="bread">{{parent()}} >> {{__('Databases', 'bibcnrs')}} {{domain.name}}</span>
    {% endblock %}
        <br class="clear"/>
        {{ ebsco_widget|shortcodes }}
        <div id="bdddomains">
            <form>
                <select name="URL"onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
                    <option value ="nul">{{__('See databases for ...', 'bibcnrs')}} </option>
                    <option value="{{site.url}}/bases-de-donnees">{{__('All databases', 'bibcnrs')}}</option>
                    {% for item in terms %}
                    <option value ="{{site.url}}/databases/{{item.slug}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="bddchoice">{{__('Databases', 'bibcnrs')}} {{domain.name}}</div>
        </div>
        <div id="pagenormbdd">
            <ul id="bases">
                {% for post in origin %}
                    <li class="bdd">
                        <a href="http://{{domain.description}}.bib.cnrs.fr/login?url={{post.db_url}}" target="_blank" title ="{{post.post_content}}" class="bddlink">
                            <img src="{{post.thumbnail.src}}"/>
                            <span class="bddtitle">{{post.post_title}}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <script type="text/javascript" src="{{theme.uri}}/js/listDB.js" /></script>
    </div>
{% endblock %}
