{% extends 'page-layout.twig' %}
{% block title %}
    {{site.name}} - {{currentCategory.name}}
{% endblock %}
{% block js %}
    {{parent()}}
    <script src="{{theme.uri}}/js/faq.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div id="content" class="bsbb">
        {% block breadcrumb %}
            <span class="bread">
                <a href="/">{{__('Home', 'bibcnrs')}}</a> >> {{currentCategory.name}}
            </span>
        {% endblock %}       
        <div id="center">
            <div id="pagefaq">
                <h1 class="font-gene">{{currentCategory.name}}</h1>
                <ul id="toolsList">
                {% for sscat in bibcnrs %}
                    {% if sscat.slug.slug == 'extensions-fr' %}
                        <li>{{sscat.slug.name}}</li>
                        <ul>
                            {% for post in sscat.posts %}
                                <li><a href="{{site.url}}/{{post.slug}}">{{post.title}}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    {% for post in sscat.posts %}
                        <li><a href="{{site.url}}/{{post.slug}}">{{post.title}}</a></li>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
       </div>
   </div>
{% endblock %}
